* {
    transition: all .3s ease-in-out;
    font-family: outfit;
    color: #eeeeef;
    padding: 0;
    margin: 0;
}

html {
    background-color: #0a0a0a;
}

nav {
    justify-content: space-evenly;
    height: max-content;
    display: flex;

    padding: .5cqw 0cqw;
    margin: 2cqw 0;

    .logo {
        font-family: "nghytserif";
        letter-spacing: .2cqw;
        font-size: 1.5cqw;
        margin: auto 0;
        
        -webkit-text-fill-color: transparent;
        background: linear-gradient(288deg, #ff8000, #f0c 53.2394%, #04f);
        background-clip: text;
        color: transparent;
        background-position-x: var(--bg-pos-x);
        background-position-y: 50%;
        background-size: 200% 200%;
    }

    .nav-selection {
        height: max-content;
        display: flex;

        border: #eeeeef20 .1cqw solid;
        background-color: #eeeeef20;
        backdrop-filter: blur(100px);
        padding: .3cqw .3cqw;
        border-radius: 5cqw;
        margin: auto 0;
        gap: .3cqw;
        
        
        .nav-btn {
            margin: auto 0;
            cursor: pointer;
            border: none;

            background-color: #eeeeef00;
            padding: .3cqw 1cqw;
            border-radius: 1cqw;
            color: #737373;
            font-size: .9cqw;

            
        }

        .nav-btn:hover,
        .nav-btn:active {
            background-color: #eeeeef10;
            color: #eeeeef;
        }

        #github {
             background-image: linear-gradient(#eeeeee10, #eeeeef50);
             backdrop-filter: blur(10%);
             color: #eeeeef99;
        }
        #github:hover {
            color: #eeeeef;
        }
        
    }
    
    .multi-nav {
        border: solid .1cqw #eeeeef00;
        background-color: #eeeeef00;
        padding: .5cqw .5cqw;
        border-radius: 100%;
        margin: auto 0;
        height: 1.5cqw;
        
        transition: all .5s ease-in-out;
        transform: rotate(0deg);
        cursor: pointer;

    }

    .multi-nav:hover,
    .multi-nav:active {
        border: solid .1cqw #eeeeef10;
        background-color: #eeeeef20;

        transform: rotate(360deg);
    }

    .search-con {
        position: fixed;
        display: none;
        opacity: 0;
        
        backdrop-filter: blur(2px);
        height: 100vw;
        width: 100vw;
        z-index: 2;
        left: 50%;
        left: 0;
        top: 0;


        .search-nav {
            justify-content: center;
            flex-direction: column;
            height: max-content;
            width: max-content;
            display: flex;

            
            border: solid .15cqw #222121;
            background-color: #38373720;
            backdrop-filter: blur(100px);
            border-radius: .5cqw;
            margin: 7cqw auto;
            padding: .5cqw 1cqw .7cqw 1cqw;
            

            .search-bar {
                justify-content: left;
                display: flex;

                padding: .7cqw 0cqw;
                gap: 1cqw;

                span {
                    font-size: 1cqw;
                    margin: auto 0;
                }

                input {
                    background-color: transparent;
                    outline: none;
                    border: none;

                    height: 1cqw;
                    height: 100%;
                    width: 23vw;
                }
            }

            p {
                padding: .7cqw 0cqw;
                color: #737373;
                font-size: .7cqw;
            }

            .new {
                border: #222121 solid .1cqw;
            }
        }

        .search-nav-btn {
            height: max-content;
            cursor: pointer;
            display: flex;

            border-radius: .5cqw;
            padding: .3cqw .3cqw;
            margin: .3cqw 0;
            gap: .7cqw;

            .icon {
                height: max-content;
                width: max-content;

                background-color: #3f3f47;
                padding: .3cqw .3cqw;
                border-radius: .3cqw;

                span {
                    vertical-align: middle;
                    margin: auto 0;
                }
            }

            .texts {
                flex-direction: column;
                margin: auto 0;

                h1 {
                    font-weight: 500;
                    font-size: .85cqw;
                }

                h6 {
                    font-size: .7cqw;
                    color: #737373;
                    font-weight: 500;
                }
            }
        }

        .close-button {
            position: absolute;
            cursor: pointer;

            transform: translate(-50%, -50%);
            right: -15%;
            top: -5%;
        }

        .search-nav-btn:hover {
            background-color: #73737330;
        }
        
    }
}

main {
    width: 100%;

    .hero {

        .hero-logo {
            position: absolute;
            
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }
    }
}